<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/registration_page.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="title">Time to get started</div>
    <div class="content">
        <form action="#" th:object="${registerModel}">

            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Email Address</span>
                    <input type="text"  placeholder="Enter your email address" required>
                </div>
                <div class="input-box">
                    <span class="details">ID/Passport</span>
                    <input type="text" placeholder="Enter your ID/Passport number" maxlength="13" onkeypress="return onlyNumberKey(event)" required>
                </div>
                <script>
                    function onlyNumberKey(evt) {
                     var ASCIICode = (evt.which) ? evt.which : evt.keyCode
                     if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                     return false;
                     return true;
                                                }
                </script>
                <div class="input-box">
                    <span class="details">Cellphone Number</span>
                    <input type="text" placeholder="Enter your number" maxlength="10" onkeypress="return onlyNumberKey(event)" required>
                </div>
            </div>
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Address</span>
                    <input type="text"  placeholder="Enter your address" required>
                </div>
                <div class="input-box">
                    <span class="details">Gender</span>
                    <select name="car-model" id="car-model">
                        <option value="0">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input class="password" type="password" id="password" placeholder="Enter your password" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="Password" name="confirm_password" id="confirm_password" placeholder="Confirm your password" required>
                </div>

            </div>
            <form action ="login">
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
        </form>
    </div>
</div>

</body>
</html>
